:root {
    --background-color: #101010;
    --foreground-color: #1A1A1A;
    --hover-color: #4A4A4A;
    --border-color: #333333;
    --text-color: #CCCCCC;
    --hint-color: #A8A8A8;
    --link-color: #FF8C42;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    height: 100%;
}

.nav {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 300px;
    background-color: var(--foreground-color);
}

.nav ul {
    list-style-type: none;
    padding-left: 0;
}

.nav a {
    color: var(--link-color);
    text-decoration: none;
    display: block;
    padding: 10px 20px;
}

.nav a:hover {
    color: var(--link-color);
    text-decoration: none;
    background-color: var(--hover-color);
    cursor: pointer;
}

.nav .active a {
    font-weight: bold;
}

.nav input {
    background-color: var(--foreground-color);
    border: 1px solid var(--border-color);
    border-radius: 0;
    color: var(--text-color);
    transition: none !important;
    outline: none;
    width: 100%;
    padding: 20px;
}

::placeholder {
    color: var(--hint-color);
}

.content {
    margin-left: 300px;
    padding: 25px;
}

.content ul {
    list-style: disc;
    line-height: 24px;
    margin-bottom: 24px;
}

.content ul li {
    list-style: disc;
    margin-left: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 24px;
}

h1 {
    font-size: 175%;
}

h2 {
    font-size: 150%;
}

pre {
    margin: 1em 0px;
}

p {
    line-height: 24px;
    font-size: 16px;
    margin: 0 0 24px;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    color: var(--link-color);
    text-decoration: none;
}

hr {
    background-color: var(--border-color);
    border: 0;
    height: 1px;
}

code {
    border: 1px solid var(--border-color);
    border-radius: 2px;
    padding: 2px 5px;
}
